.row-battery {
    vertical-align: middle;
}

#battery .cls-1 {
    fill: #fff;
}

#battery .power {
    top: auto;
    fill: #0dff69;
}

@keyframes anim-power {
    100% {
        transform: rotate(3deg);
    }
}

.svgCont {
    border: none;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
}

.svgCont div {
    padding-bottom: 20.985%;
}

.svgCont svg {
    position: absolute;
}

.svgCont svg #thermometerLineBody, .svgCont svg #thermometerLineHead {
    /*opacity: 0;*/
}

#button-on-off {
    height: 60px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(178, 34, 34, 0.5);
    border-radius: 60px;
}

#button-on-off:hover .toggle svg {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 160ms ease-in-out;
    transition: opacity 200ms ease-in-out, transform 160ms ease-in-out, -webkit-transform 160ms ease-in-out;
}

#button-on-off.active {
    background: rgba(0, 250, 154, 0.5);
}

#button-on-off.active .toggle {
    background: mediumspringgreen;
    -webkit-transform: translate(120px, -50%);
    transform: translate(120px, -50%);
    -webkit-transition: background 240ms ease-in-out, -webkit-transform 240ms ease-in-out;
    transition: background 240ms ease-in-out, transform 240ms ease-in-out, -webkit-transform 240ms ease-in-out;
}

#button-on-off.active .toggle svg {
    -webkit-transform: translate(-36%, -50%) rotatez(180deg);
    transform: translate(-36%, -50%) rotatez(180deg);
    -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 160ms ease-in-out;
    transition: opacity 200ms ease-in-out, transform 160ms ease-in-out, -webkit-transform 160ms ease-in-out;
}

#button-on-off.active:hover .toggle svg {
    -webkit-transform: translate(-46%, -50%) rotatez(180deg);
    transform: translate(-46%, -50%) rotatez(180deg);
    -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 160ms ease-in-out;
    transition: opacity 200ms ease-in-out, transform 160ms ease-in-out, -webkit-transform 160ms ease-in-out;
}

.toggle {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: firebrick;
    display: block;
    border-radius: 60px;
    box-shadow: 0 4px 4px rgba(13, 13, 13, 0.3);
    -webkit-transition: background 240ms ease-in-out, -webkit-transform 240ms ease-in-out;
    transition: background 240ms ease-in-out, transform 240ms ease-in-out, -webkit-transform 240ms ease-in-out;
}

.toggle svg {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 48%;
    -webkit-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 160ms ease-in-out;
    transition: opacity 200ms ease-in-out, transform 160ms ease-in-out, -webkit-transform 160ms ease-in-out;
}

.dashboard {
    background: #343a40;
}


@import url("https://fonts.googleapis.com/css?family=Jaldi&display=swap");


#wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper > p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#info {
    opacity: 0.2;
    margin: 0;
    text-align: center;
}

#thermometer {
    width: 25px;
    background: #FFFFFF;
    height: 240px;
    position: relative;
    border: 9px solid #D1D3D4;
    border-radius: 20px;
    z-index: 1;
    margin-bottom: 50px;
}

#thermometer:before, #thermometer:after {
    position: absolute;
    content: "";
    border-radius: 50%;
}

#thermometer:after {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #3dcadf;
    bottom: -41px;
    border: 9px solid #D1D3D4;
    z-index: -3;
    left: 50%;
}

#thermometer #graduations {
    height: 59%;
    top: 20%;
    width: 50%;
}

#thermometer #graduations, #thermometer #graduations:before {
    position: absolute;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#thermometer #graduations:before {
    content: "";
    height: 34%;
    width: 100%;
    top: 32%;
}

#thermometer #temperature {
    bottom: 0;
    background: linear-gradient(#f17a65, #3dcadf) no-repeat bottom;
    width: 100%;
    border-radius: 20px;
    background-size: 100% 240px;
    transition: all 0.2s ease-in-out;
}

#thermometer #temperature, #thermometer #temperature:before, #thermometer #temperature:after {
    position: absolute;
}

#thermometer #temperature:before {
    content: attr(data-value);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1;
    transform: translateY(50%);
    left: calc(100% + 1em / 1.5);
    top: calc(-1em + 5px - 5px * 2);
}

#thermometer #temperature:after {
    content: "";
    border-top: 0.4545454545em solid transparent;
    border-bottom: 0.4545454545em solid transparent;
    border-right: 0.6666666667em solid rgba(0, 0, 0, 0.7);
    left: 100%;
    top: calc(-1em / 2.2 + 5px);
}
